{% extends "poster.jinja2" %}

{## Header ##}

{% set poster_title = "Example poster" %}
{# ‘poster_subtitle’ is optional; use "" to hide it #}
{% set poster_subtitle = "A minimal poster to serve as a tutorial" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "Unpublished" %}
{# ‘webpage_title’ is displayed in the browser’s top bar #}
{% set webpage_title = poster_title + " — " + poster_subtitle %}
{# ‘project_url’ is used in the footer and for the logo #}
{% set project_url = "https://github.com/cpitclaudel/academic-poster-template" %}

{# Publication info is hidden by default (.publication-info in CSS) #}
{% set pub_datetime_iso = "2020-09-08" %}
{% set pub_date = "September 8, 2020" %}

{% block custom_head %}
<style type="text/css">
  html { font-size: 1.15rem }
</style>
{% endblock %}

{% block authors %}
  {# Put authors here, with one link per author. #}
  <a property="author">Clément Pit-Claudel<sup>a</sup></a>
{% endblock %}

{% block affiliations %}
  <sup>a</sup><a property="sourceOrganization">MIT CSAIL</a>
{% endblock %}

{# Project logos shown on the left side #}
{% block project_logos %}
  <a href="{{ project_url }}"><img src="logo.png" alt="Tutorial logo"></a>
{% endblock %}

{# Extra logos shown on the right side #}
{% block logos %}
  <a href="https://csail.mit.edu"><img src="csail.png" alt="MIT CSAIL Logo"></a>
{% endblock %}

{### Footer ##}

{% block project_link %}
  <a href="{{ project_url }}">{{ project_url }}</a>
{% endblock %}

{% block contact_information %}
  clement.pitclaudel@live.com
{% endblock %}

{### Contents ###}

{# Contents are individual boxes (typically ‘article’s or ‘figure’s).  Each
   ‘article’ contains a header and some contents. #}
{% block contents %}
  <article property="abstract">
    {# Using <h3> inside the <header> makes the structure evident to screen readers #}
    <header><h3>Abstract</h3></header>

    <p>Academic posters are usually designed using presentation software and distributed as images or PDFs.</p>

    <p>While PDFs are fine for printing posters, they are not particularly user-friendly: they are hard to read on small screens, don't support resizing text or increasing contrast, and often don't work nicely with screen readers.</p>

    <p>The recent shift to online conferences is a great opportunity to reconsider our poster-making tools, and it turns out that plain HTML5 + CSS works pretty well for making (more) accessible posters.</p>

    <p>This template is released under a permissive license: all we ask if you use it for your own posters is that you leave a one-line comment in the HTML sources.</p>
  </article>

  <article>
    <header><h3>Using this template</h3></header>
    <p>There are two ways to use this template: directly editing the HTML, and using Jinja2 templates</p>
  </article>

  <article>
    <header><h3>Editing the HTML directly</h3></header>

    <p>This is the simplest way to get started, since it just requires a text editor:</p>

    <ol>
      <li>Download the latest copy of this <a href="https://github.com/cpitclaudel/academic-poster-template/tree/main/dist/tutorial/poster.html">tutorial</a> and the corresponding <a href="https://github.com/cpitclaudel/academic-poster-template/tree/main/dist/poster.css">stylesheet</a> from the <a href="https://github.com/cpitclaudel/academic-poster-template/tree/main/dist/"><code>dist</code> folder</a> of our repository</li>
      <li>Adjust the metadata and add blocks to the <code>main</code> section.</li>
    </ol>
  </article>

  <article>
    <header><h3>Using Jinja2</h3></header>

    <p>The poster is a Jinja2 template, so you can inherit from it and fill in the relevant fields and the contents.</p>

    <ol>
      <li>Clone the <a href="https://github.com/cpitclaudel/academic-poster-template/">GitHub repository</a>.</li>
      <li>Create your own jinja2 template, starting from <a href="https://github.com/cpitclaudel/academic-poster-template/tree/main/examples/tutorial.jinja2">this tutorial</a>.</li>
      <li>Render to HTML using the <code>render.py</code> script:<br/>
        <code>./render.py your_jinja2_poster.jinja output.html</code>
      </li>
    </ol>

    <b>The template for this tutorial includes documentation for each variable and block.</b>
  </article>

  <article>
    <header><h3>Poster layout</h3></header>

    <p>Posters made using this template are composed of a sequence of blocks.  You can use CSS to customize the way the blocks are designed; by default they scroll left to right on wide screens and top to bottom on narrow screens.</p>
  </article>

  <article>
    <header><h3>Block template</h3></header>

    <p>Each block has the following structure:</p>

    <pre>&lt;article&gt;
  &lt;header&gt;&lt;h3&gt;<i>Block title</i>&lt;/h3&gt;&lt;/header&gt;

  <i>Block contents:
    paragraphs (&lt;p&gt;),
    figures (&lt;figure&gt;),
    lists (&lt;ul&gt;, &lt;ol&gt;),
    images (&lt;img&gt;, &lt;object&gt;),
    tables (&lt;table&gt;), …</i>
&lt;/article&gt;</pre>
  </article>

  <article>
    <header><h3>Structural markup</h3></header>

    <p>The following markup is useful to structure content blocks:</p>
    <ul>
      <li>
        <code>&lt;p&gt;</code>
        <p style="margin: 0">Paragraphs</p>
        <code>&lt;/p&gt;</code>
      </li>

      <li>
        <code>&lt;ul&gt;</code>
        <ul>
          <li><code>&lt;li&gt;</code>…<code>&lt;/li&gt;</code></li>
        </ul>
        <code>&lt;/ul&gt;</code> (Plain lists)
      </li>

      <li>
        <code>&lt;ol&gt;</code>
        <ol>
          <li><code>&lt;li&gt;</code>…<code>&lt;/li&gt;</code></li>
        </ol>
        <code>&lt;/ol&gt;</code> (Numbered lists)
      </li>

      <li>
        <code>&lt;b&gt;</code>
        <b>Call-outs (<i>alerts</i>)</b>
        <code>&lt;/b&gt;</code>
      </li>
    </ul>
  </article>

  <article>
    <header><h3>Inline markup</h3></header>
      <ul>
        <li>
          <code>&lt;a href="<var>url</var>"&gt;</code>
          <a href="url">Links</a>
          <code>&lt;/a&gt;</code>
        </li>

        <li>
          <code>&lt;em&gt;</code>
          <em>Emphasized text</em>
          <code>&lt;/em&gt;</code>
        </li>

        <li>
          <code>&lt;strong&gt;</code>
          <strong>Important text</strong>
          <code>&lt;/strong&gt;</code>
        </li>

        <li>
          <code>&lt;i&gt;</code>
          <i>Scientific terms, foreign words</i>
          <code>&lt;/i&gt;</code>
        </li>

        <li>
          <code>&lt;var&gt;</code>
          <var>Math variables, placeholders</var>
          <code>&lt;/var&gt;</code>
        </li>
      </ul>

      <b>Not sure which one to use? Check out <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i">Mozilla's explanations</a>.  Using appropriate markup helps screen readers a lot.</b>
  </article>

  <article>
    <header><h3>Figures</h3></header>

    <p>Use the following code to insert a figure:</p>

    <pre>&lt;figure&gt;
  <i>Figure contents:
    images (&lt;img&gt;, &lt;object&gt;),
    tables (&lt;table&gt;),
    quotes, …</i>
  &lt;figcaption&gt;<i>Figure caption</i>&lt;/figcaption&gt;
&lt;/figure&gt;</pre>

    <hr/>

    <figure>
      <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo.svg" width="197" height="64" alt="An orange shield with a white 5 emblazoned on it and the letters HTML above it.">

      <figcaption>The HTML5 logo (<i>Source: <a href="https://www.w3.org/html/logo/">W3C</a></i>)</figcaption>
    </figure>
  </article>

  <article>
    <header><h3>Images</h3></header>

    <p>Use the following code to include an image:</p>

    <pre class="justify-center">&lt;img src="<var>source url</var>"
     alt="<var>image description</var>"&gt;</pre>

    <p>Prefer scalable images (SVG) for technical drawings and figures.</p>

    <small>Most technical drawing software supports saving as SVG; if yours does not, you can typically save to PDF, which can then easily be <a href="https://superuser.com/questions/381125/how-do-i-convert-an-svg-to-a-pdf-on-linux">converted to SVG</a> (this is useful for TikZ diagrams in particular).</small>

    <p>Make sure to include an <code>alt</code> attribute: it will be read by assistive technology and displayed while the image is loading
    </p>
  </article>

  <article>
    <header><h3>Mathematics</h3></header>

    <p>This poster template loads <a href="https://www.mathjax.org/">MathJax</a> by default, so you can include inline math in backslash-parentheses <code>\( … \)</code> and display math in backslash-brackets <code>\[ … \]</code>:</p>

    <p class="center">\((\lambda x. e) v \downarrow e[x/v]\) (β-reduction)</p>

    \[\frac
      {\langle \mathtt{expr}, s\rangle \Downarrow v}
      {\langle \mathtt{var := expr}, s\rangle \downarrow s\left[\mathtt{var} \leftarrow v\right]}
     \small{\text{Assign}}\]

    <p>Using MathJax allows users of assistive technology to browse the equations.</p>
  </article>

  <article>
    <header><h3>Additional styling</h3></header>

    <p>The template's stylesheet defines a few extra CSS classes:</p>

    <p class="boxed center"><code>.center</code><br/>
      (horizontally centered text)</p>

    <p class="boxed justify-center"><code>.justify-center</code><br/>
      (horizontally centered block)</p>

    <div class="boxed center">
      <div class="center columns" style="height: 3em">
        <code style="align-self: start">.columns-top</code>
        <code style="align-self: center">.columns-center</code>
        <code style="align-self: end">.columns-bottom</code>
      </div>
      <span>(columns)</span>
    </div>

    <small>To customize column widths, use <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns"><code>grid-template-columns</code></a>; for example, for 40%/60% widths, use the following snippet:
      <pre class="center">style="grid-template-columns: 40fr 60fr"</pre>
    </small>
  </article>

  <figure style="flex-grow: 9999999">
    <img style="width: 70%; margin: 5% 0" src="logo.png" alt="Project logo" />
  </figure>
{% endblock %}
